# Variables sensibles
.env
.env.*
!.env.example

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnements Python éventuels
.venv/
venv/

# Éditeurs
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Logs
*.log

# Fichiers temporaires
*.tmp
*.bak